@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    @apply font-sans h-full;
}
